rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function loggedIn(){
      return request.auth != null;
    }

    // store user info: UserInfoSv
    match /users/{user} {
      allow read:
      if loggedIn() 
        && (request.auth.token.firebase.sign_in_provider != "anonymous"
        || resource == null
        || request.auth.uid == resource.id);
      allow write:
      if false;
      // store wishlist data: WishList
      match /wishlist/{wishlist} {
        allow read:
        if loggedIn() 
          && get(/databases/$(database)/documents/users/$(user)).data.uid == request.auth.uid
        allow create: 
        if false; 
        allow delete: 
        if false;
      }
      match /threads/{thread} {
        allow read:
        if loggedIn() 
          && get(/databases/$(database)/documents/users/$(user)).data.uid == request.auth.uid;
        allow write: 
        if false;
      }

      match /fcm_tokens/{token} {
        allow read, write: if false;
      }
    }

    match /listings/{listing} {
      allow read: 
      if loggedIn() 
        && (resource.data.status == "posted" 
        || resource.data.seller.uid == request.auth.uid
        || resource == null);
      allow create: 
      if false;
      allow delete:
      if false;
      allow update:
      if false;
    }
    
    match /guest_listings/{listing} {
      allow read: 
      if loggedIn() 
        && (resource.data.status == "posted" 
        || resource.data.seller.uid == request.auth.uid
        || resource == null);
      allow create: 
      if false;
      allow delete:
      if false;
      allow update:
      if false;
    }

    match /threads/{thread}{
      allow read:
      if loggedIn() 
        && (request.auth.uid in resource.data.membersUid 
        || resource == null);
      allow create:
      if false;
      allow delete:
      if false;
      allow update:
      if false;
      match /messages/{message}{
        allow read:
        if loggedIn() 
          && request.auth.uid in resource.data.membersUid;
        allow write:
        if false; 
      }
    }
  }
}