rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function loggedIn(){
      return request.auth != null;
    }

    match /listings/{listingId}/{fileName} {
      allow read:
        if loggedIn();
    }
  }
}
