rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function loggedIn(){
      return request.auth != null;
    }

    match /listings/{listingId}/{fileName} {
      function isSeller(){
        return firestore.get(/databases/(default)/documents/listings/$(listingId)).seller.uid == request.auth.uid;
      }

      allow read:
        if loggedIn();
      allow write:
        if loggedIn();
        && isSeller();
    }
  }
}
